html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.sitenav{
  height: 100px;
  background-color: #FAFAF6;
  color: #031926;
  padding-right:60px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
}

.sitenav a{
  color: #031926;
}


.nav_buttons{
    display: block;
    padding: 20px;
    float: right;
    cursor: pointer;
}

.nav_buttons:hover{
    text-decoration: underline;
}

p{
    font-size: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif;
    color: #031926;
}

a{
  text-decoration: none;
}


/* Hero Section */



.heroSection img{
    height: 400px;
    position: absolute;
}

.link{
    cursor: pointer;
    font-size: 16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif;
    color: #BD4F6C;
}

.link:hover{
    text-decoration: underline;
}

.aboutMe {
    width: 50%;
    padding-left: 30px;
  }


  .moreAboutMe button{
    border: 1px solid;
    border-color: #BD4F6C;
    color: #BD4F6C;
    border-radius: 4px;
    height:40px;
    width: 150px;
    cursor: pointer;
    background-color: #FAFAF6;
  }

  .moreAboutMe button:hover{
    background-color: #BD4F6C;
    color: white;
    transition: .4s;
  }


  .mobileImage{
      display:none;
  }


  .samThomas{
      padding-left:30px;
      text-shadow: 2px 2px #03192631;
      margin: 0px;
  }

  .samThomas h1{
    color: #BD4F6C; 
    margin:0px;
    font-size: 54px;
  }

  .myBio{
      padding-left: 60px;
  }

  .myBio p {
    margin-top: -10px;
  }
  

  .right {
    width: 50%;
    padding-left: 100px;
    padding-right:30px;
  }
  .right img{
    margin-top: 40px;
    height:360px;
    margin-left:50px;
  }
  .heroSection {
    height: 380px;
    padding: 30px;
    margin: 10px;
    display: flex;
    position: relative;
  }

  .heroSection img{
      top: -20px;
  }


/*Case Studies Section*/

#caseGrid {
    margin: 0px 5%;
    display: grid;
    min-height: 500px;
    grid-template-rows: 30% 70%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "img title"
    "img des";
    background-color: #FAFAF6;
    padding: 50px;
  }

  #caseGrid2 {
    margin: 0px 5%;
    display: grid;
    min-height: 500px;
    grid-template-rows: 30% 70%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "img2 title"
    "img2 des";
    background-color: #FAFAF6;
    padding: 50px;
    padding-bottom: 30px;
  }
  
  body{
    background-color: #FAFAF6;
  }

  #prototypeImage {
    grid-area: img;
    background-image: url(../images/ecr.png);
    opacity: 0;
    transition: 1s;
  }

  #prototypeImage[data-scroll="in"]{
    opacity: 1;
    transition-delay: 0.5s;
  }


  #prototypeImage2 {
    grid-area: img2;
    background-image: url(../images/depofed.png);
    opacity: 0;
    transition: 1s;
  }

  #prototypeImage2[data-scroll="in"]{
    opacity: 1;
    transition-delay: 0.5s;
  }

  
  #projectTitle {
    grid-area: title;
    padding-top: 43px;
    transition: 1s;
    transform: translateX(100px);
    opacity: 0;
  }

#projectTitle[data-scroll="in"]{
    transform: translateX(0);
    transition-delay: 0.5s;
    opacity: 1;
}
  
  #description {
    grid-area: des;
    padding-left: 30px;
    transition: 1s;
    transform: translateY(100px);
    opacity: 0;
  }

#description[data-scroll="in"]{
    transform: translateY(0);
    transition-delay: 0.5s;
    opacity: 1;
}
  
  h1{
    font-size: 50px;
    font-family: "Khmer MN", "Ogirema", "Times Sans Serif", sans-serif;
    color: #031926;
}

  #headline {
    background-color:#F0CF65;
    position: absolute;
    width: 600px;
    right: 5px;
    padding-left: 40px;
    padding-top: 20px;
    z-index: 100;
    height: 80px;
    margin: 0px;
    display:flex;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(49, 49, 49, 0.13);
    opacity: 1;
  }
  
  .caseGridArea {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    position: relative;
  }

  .readMore{
    display:flex;
    justify-content: center;
    padding: 70px;
  }

  .readMore button{
    border: 1px solid;
    border-color: #BD4F6C;
    color: #BD4F6C;
    border-radius: 4px;
    height:40px;
    width: 150px;
    cursor: pointer;
    background-color: #FAFAF6;
  }

  .readMore button:hover{
    background-color: #BD4F6C;
    color: white;
    transition: .4s;
  }





/* footer */

footer{
background-color:#93B5C6;
height: 250px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

footer img{
    height: 40px;
    margin-bottom: -20px;
}

footer p{
    font-size: 16px;
    text-align: center;
    line-height: 23px;
}

footer h2{
    font-size: 30px;
    font-family: "Khmer MN", "Ogirema", "Times Sans Serif", sans-serif;
    color: #031926; 
    margin-bottom: -20px;
}

/* responsive */

@media only screen and (max-width: 900px){

    /* navigation */

    .nav{
        padding-right:0px;
        padding-left:0px;
        display: flex;
        justify-content: center;
        height: 70px;
    }
    
    .nav_buttons{
        padding-top: 20px;
        text-align: center;
    }

    ul{
      padding-inline-start: 0px;
    }

    /* Hero Section */

img{
    height: 350px;
}

.mobileImage{
    display:flex;
}

.heroSection {
    height: 600px;
    padding: 30px;
    padding-bottom: 0px;
    margin: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
  }

  .heroSection img{
      top: 0px;
      position: relative;
  }


.aboutMe {
    width: 80%;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .samThomas{
      padding-left:0px;
      margin: 0px;
  }

  .samThomas h1{
    margin:0px;
  }

  .myBio{
      padding-left: 0px;
  }

  .moreAboutMe{
    display:flex;
    justify-content:center;
  }

  .right {
    display: none; /* hide the image */
  }

  /* Case Studies */ 
  #caseGrid {
    margin: 0px 5%;
    display: grid;
    min-height: 500px;
    grid-template-rows: 10% 70% 20%;
    grid-template-columns: 100%;
    grid-template-areas:
    "title"
    "img" 
    "des";
    background-color: #FAFAF6;
    padding: 0px;
    padding-top: 130px;
    padding-bottom: 50px;
  }

  #headline {
    position: relative;
    width: 600px;
    padding-top: 20px;
    z-index: 100;
    height: 80px;
    margin: 0px;
    justify-content: center;
    right: 0px;
    padding-left: 0px;

}

#projectTitle {
    padding-top: 60px;
    display: flex;
    justify-content: center;
  }

  #prototypeImage {
      margin-left: 50px;
      margin-right: 50px;
  }

  #caseGrid2 {
    margin: 0px 5%;
    display: grid;
    min-height: 500px;
    grid-template-rows: 10% 70% 20%;
    grid-template-columns: 100%;
    grid-template-areas:
    "title"
    "img2" 
    "des";
    background-color: #FAFAF6;
    padding: 0px;
    padding-top: 130px;
    padding-bottom: 80px;
  }


#projectTitle2 {
    padding-top: 60px;
    display: flex;
    justify-content: center;
  }

  #prototypeImage2 {
      margin-left: 50px;
      margin-right: 50px;
  }

}


@media only screen and (max-width: 620px){
    h1{
        font-size:28px;
    }

    #headline{
        height: 60px;
    }

    p{
        font-size: 18px;
    }

    img{
        height: 300px;
    }

    #caseGrid{
        padding-top: 30px;
    }

    #caseGrid2{
      padding-bottom: 40px;
    }

    .myBio p {
      margin-top: 0px;
    }
}

@media only screen and (max-width: 325px){
  h1{
    font-size:20px;
  }

  img{
    height:200px;
  }

  .heroSection{
    height: 450px;
  }

  p{
    font-size: 14px;
  }

  #headline{
    height:40px;
  }

  .aboutMe{
    width: 90%
  }
}

/* loading */
.loading{
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100000;
  background-color: white;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center
}

#block{
  height: 100px;
  width: 100px;
  background-color: #93B5C6;
  animation: spin 3s ease;
  transition: all;
  margin: 0 auto;
  box-shadow: 5px 5px 5px rgba(49, 49, 49, 0.13);
}

@keyframes spin{
    0% {
      transform: rotate(0deg);
      background-color:#F0CF65;
    }
    50% {
      transform: rotate(360deg);
      background-color:#BD4F6C; 
    }
    100% {
      transform: rotate(720deg);
      background-color: #93B5C6;
    }
  }

  .spins{
    animation: spinning 2s ease;
  }

  @keyframes spinning{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }

  
  #block1{
    height:180px;
    width: 110px;
    background-color:#F0CF65;
    position: relative;
    top: -40px;
    left: 360px;
    transition: transform 2s;
  }
  
  #block1:hover{
    transform: rotate(720deg);
  }

  #block2{
    height:230px;
    width: 228px;
    background-color:#BD4F6C;
    position: relative;
    top: -20px;
    right: 50px;
    transition: transform 2s;
  }
  
  #block2:hover{
    transform: rotate(720deg);
  }

  #block3{
    height:50px;
    width: 50px;
    background-color:#93B5C6;
    position: relative;
    top: -190px;
    left: 360px;
    transition: transform 2s;
  }
  
  #block3:hover{
    transform: rotate(720deg);
  }

  #block4{
    height:20px;
    width: 20px;
    background-color:#BD4F6C;
    position: relative;
    top: -120px;
    left: 427px;
    transition: transform 2s;
  }
  
  #block4:hover{
    transform: rotate(720deg);
  }

  #block5{
    height:26px;
    width: 26px;
    background-color:#BD4F6C;
    position: relative;
    top: -540px;
    left: 277px;
    transition: transform 2s;
  }
  
  #block5:hover{
    transform: rotate(720deg);
  }

  #block6{
    height:46px;
    width: 46px;
    background-color:#D7816A;
    position: relative;
    top: -537px;
    left: 35px;
    transition: transform 2s;
    box-shadow: 5px 5px 5px rgba(49, 49, 49, 0.13);
  }
  
  #block6:hover{
    transform: rotate(720deg);
  }

  #block7{
    height:28px;
    width: 26px;
    background-color:#F0CF65;
    position: relative;
    top: -507px;
    right: 30px;
    transition: transform 2s;
    box-shadow: 5px 5px 5px rgba(49, 49, 49, 0.13);
  }
  
  #block7:hover{
    transform: rotate(720deg);
  }

  #block8{
    height:48px;
    width: 48px;
    background-color:#93B5C6;
    position: relative;
    top: -310px;
    right: 80px;
    transition: transform 2s;
    box-shadow: 5px 5px 5px rgba(49, 49, 49, 0.13);
  }
  
  #block8:hover{
    transform: rotate(720deg);
    
  }

  #block9{
    height:48px;
    width: 48px;
    background-color:#D7816A;
    position: relative;
    top: -300px;
    left: 280px;
    transition: transform 2s;
    box-shadow: 5px 5px 5px rgba(49, 49, 49, 0.13);
  }
  
  #block9:hover{
    transform: rotate(720deg);
  }

  /**Coming Soon Popup**/
  .sitenav ul{
    display: inline-block;
}


  .nav_buttons{
    position: relative;
}
  


  .nav_buttons div{
    display: none;
    position: absolute;
    top: 0;
    left:50%;
    margin-top: 50px; /* approx adjustment for arrow */
    margin-left: -65px; 
  }
  

  .nav_buttons a:hover + div {
    cursor: pointer;
    display: block;
    /*visibility: visible; */
    width: 180px;
    line-height: 20px;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    z-index: 999;
    color: white;
    font-weight: bold;
    background: #D7816A;
    border: 4px solid #D7816A;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(49, 49, 49, 0.13);
    -webkit-transition: opacity 100ms ease-in;
    -o-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
  }
  
  

  .nav_buttons div:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #D7816A transparent transparent;
    top: -22px;
    left:53px;
    transform: rotate(90deg);
  }


  .moreAboutMe{
    display: inline-block;
}


  .moreAboutMe button{
    position: relative;
}
  


  .moreAboutMe button div{
    display: none;
    position: absolute;
    top: 0;
    left:50%;
    margin-top: 50px; /* approx adjustment for arrow */
    margin-left: -65px; 
  }
  

  .moreAboutMe button a:hover + div {
    cursor: pointer;
    display: block;
    /*visibility: visible; */
    width: 180px;
    line-height: 20px;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    z-index: 999;
    color: white;
    font-weight: bold;
    background: #D7816A;
    border: 4px solid #D7816A;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(49, 49, 49, 0.13);
    -webkit-transition: opacity 100ms ease-in;
    -o-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
  }
  
  

.moreAboutMe button div:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #D7816A transparent transparent;
    top: -22px;
    left:53px;
    transform: rotate(90deg);
  }

  .moreAboutMe button{
    border: 1px solid;
    border-color: #BD4F6C;
    color: #BD4F6C;
    border-radius: 4px;
    height:40px;
    width: 150px;
    cursor: pointer;
    background-color: #FAFAF6;
  }

  .moreAboutMe button a{
    color: #BD4F6C;
  }

  .moreAboutMe button:hover{
    background-color: #BD4F6C;
    color: white;
    transition: .4s;
  }

  .moreAboutMe button:hover a{
    background-color: #BD4F6C;
    color: white;
    transition: .4s;
  }


  .readMoree{
    display: inline-block;
}


  .readMore button{
    position: relative;
}
  


  .readMore button div{
    display: none;
    position: absolute;
    top: 0;
    left:50%;
    margin-top: 50px; /* approx adjustment for arrow */
    margin-left: -65px; 
  }
  

  .readMore button a:hover + div {
    cursor: pointer;
    display: block;
    /*visibility: visible; */
    width: 180px;
    line-height: 20px;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    z-index: 999;
    color: white;
    font-weight: bold;
    background: #D7816A;
    border: 4px solid #D7816A;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(49, 49, 49, 0.13);
    -webkit-transition: opacity 100ms ease-in;
    -o-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
  }
  
  

.readMore button div:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #D7816A transparent transparent;
    top: -22px;
    left:53px;
    transform: rotate(90deg);
  }

  .readMore button a{
    color: #BD4F6C;
  }

  .readMore button:hover{
    background-color: #BD4F6C;
    color: white;
    transition: .4s;
  }

  .readMore button:hover a{
    background-color: #BD4F6C;
    color: white;
    transition: .4s;
  }


  /**/


   .soon{
    display: inline-block;
    position: relative;
    text-decoration: none;
}

  


  .soon div{
    display: none;
    position: absolute;
    top: 0;
    left:50%;
    margin-top: 30px; /* approx adjustment for arrow */
    margin-left: -65px; 
  }
  

  .soon a:hover + div {
    cursor: pointer;
    display: block;
    /*visibility: visible; */
    width: 180px;
    line-height: 20px;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    z-index: 999;
    color: white;
    font-weight: bold;
    background: #D7816A;
    border: 4px solid #D7816A;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(49, 49, 49, 0.13);
    -webkit-transition: opacity 100ms ease-in;
    -o-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
  }
  

  .soon div:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #D7816A transparent transparent;
    top: -22px;
    left:53px;
    transform: rotate(90deg);
  }

  .link a{
    color: #BD4F6C;
  }

